<html>

<head>
    <title>Peerbuds</title>
</head>

<body>
<div style="font-family: Helvetica; padding: 50px 70px; background-color: #ffffff; color: #333333; font-size: 17px;">
    <!-- Header -->
    <div style="vertical-align: middle; ">
        <img src="https://peerbuds.com/assets/images/pb_logo.png" width="35px" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"><b>&nbsp;peerbuds</b></span>
    </div>
    <!-- Title -->
    <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
        Congrats on completing your <%= type %>!
    </div>
    <!-- Body -->
    <div>
        <div style="font-size: 17px; margin-top: 25px;">
            Hey there,
        </div>
        <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
            We hope what you've learned was both helpful and exciting.  We're also hoping you'll be inspired to go forward and share what you've learned with others.   Below is a review of what you learned in this past <%= type %> so you can refresh anything that might have gone fuzzy in your memory - and it's here as a handy reference if you ever need it.
            <br><br>
            You spent over <%= viewTime %> hours on this <%= days %> day <%= type%> which is <%= viewTimeComparison %> than <%= viewTimePercentile %> of the participants.
            <br>
            You covered <%= contentCount %> activities which included <%= contentSplit %>.
            <br>
            During this period <%= totalCommentCount %> discussion threads were started of which you were active in <%= personalCommentCount %>.
            <br>
            This <%= type %> covered <%= topics %> topics.
        </div>
        <div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #ff5b5f; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
            <a style="color: white; text-decoration: none;" href="https://peerbuds.com/<%= type %>/<%= collectionId %>/calendar/<%= calendarId%>">View <%= type %></a>
        </div>
    </div>
    <!-- Signature -->
    <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
        Cheers,
        <br>
        Peerbuds Team
    </div>
    <!-- Footer -->
    <hr style="margin-top: 40px; background-color: #dbdbdb;">
    <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
        Sent with <span style="font-size: 11px;">&hearts;</span> from Peerbuds
        <br><br>
        Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
    </div>
</div>
</body>

</html>