<html>

<head>
    <title>Peerbuds</title>
</head>

<body>
<div style="font-family: Helvetica; padding: 50px 70px; background-color: #ffffff; color: #333333; font-size: 17px;">
    <!-- Header -->
    <div style="vertical-align: middle; ">
        <img src="https://peerbuds.com/assets/images/pb_logo.png" width="35px" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"><b>&nbsp;peerbuds</b></span>
    </div>
    <!-- Title -->
    <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
        Get ready for your in-person session
    </div>
    <!-- Body -->
    <div>
        <div style="font-size: 17px; margin-top: 25px;">
            Hey there,
        </div>
        <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
            You ready for your upcoming in-person session -- <%= title %>,  today at <%= time %>?  Make sure you reach on time so you don't miss a thing.  We're all looking forward to seeing you there.
        </div>
        <div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #ff5b5f; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
            <a style="color: white; text-decoration: none;" href="https://peerbuds.com/<%= type %>/<%= collectionId %>/calendar/<%= calendarId%>/<%= contentId%>">RSVP</a>
        </div>
    </div>
    <!-- Signature -->
    <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
        Cheers,
        <br>
        Peerbuds Team
    </div>
    <!-- Footer -->
    <hr style="margin-top: 40px; background-color: #dbdbdb;">
    <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
        Sent with <span style="font-size: 11px;">&hearts;</span> from Peerbuds
        <br><br>
        Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
    </div>
</div>
</body>

</html>