<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
<div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
    <!-- Header -->
    <div style="vertical-align: middle; ">
        <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"></span>
    </div>
    <!-- Title -->
    <div style="font-weight: 800; font-size: 30px; margin-top: 40px; text-transform: capitalize;">
        New review
    </div>
    <!-- Body -->
    <div>
        <div style="font-size: 17px; margin-top: 25px;">
            Hi <%= reviewedPeerName %>
            <br><br>
            You have received a <%= reviewScore%>* review from <%= reviewerName%> for <%= collectionTitle%>.
            <br><br>
            <b><%= reviewDesc %></b>
        </div>
    </div>
    <!-- Signature -->
    <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
        Cheers,
        <br>
        The Blockchain U Team
    </div>
    <!-- Footer -->
    <hr style="margin-top: 40px; background-color: #dbdbdb;">
    <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
        Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
        <br><br>
        Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
    </div>
</div>
</body>

</html>