<html>

<head>
	<title>The Blockchain University</title>
</head>

<body>
<div style="font-family: Helvetica,sans-serif; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
	<!-- Header -->
	<div style="vertical-align: middle; ">
		<img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #33bd9e"></span>
	</div>
	<!-- Title -->
	<div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
		Your knowledge story is getting popular
	</div>
	<!-- Body -->
	<div>
		<div style="font-size: 17px; margin-top: 25px;">
			Hey <%= storyOwnerName %>,
		</div>
		<br><br>
		<div style="text-align: center">
			<img src="https://theblockchainu.com:3002<%= storyViewerImage %>" alt="Profile Image" style="width: 15%; border-radius: 200px;">
			<br>
			<%= storyViewerName%>
		</div>
		<div style="font-size: 17px; margin-top: 30px; line-height: 24px">
			Would like to view your knowledge story on topics <b><%= storyTopics %></b>.
			<br><br>
			You need to approve this request before they can view.
			<br><br>
			Make sure everything is in order and with one click of a button, we'll share your amazing knowledge story with <%= storyViewerName %>
		</div>
		<div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #33bd9e; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
			<a style="color: white; text-decoration: none;" href="https://theblockchainu.com/story/<%= storyId %>">Approve or Reject</a>
		</div>
	</div>
	<!-- Signature -->
	<div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
		Cheers,
		<br>
		The Blockchain U Team
	</div>
	<!-- Footer -->
	<hr style="margin-top: 40px; background-color: #dbdbdb;">
	<div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
		Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
		<br><br>
		Blockchain University, Inc., 4580 Automall Pkwy, Fremont, CA 94538
	</div>
</div>
</body>

</html>